<div class="listTour">

  <button mat-raised-button class="add-tour" (click)="onCreate()" >Add new tour</button>
  <br /><br />

  <table mat-table [dataSource]="tours" class="tour-list-table">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let tour">{{ tour.date | date:"MM/dd/yyyy" }}</td>
    </ng-container>

    <ng-container matColumnDef="excursion">
      <th mat-header-cell *matHeaderCellDef>Excursion</th>
      <td mat-cell *matCellDef="let tour">{{ tour.excursion.name }}</td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>Client</th>
      <td mat-cell *matCellDef="let tour">{{ tour.client.name }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let tour; columns: displayedColumns;" class="tour-item" (click)="onEdit(tour)"></tr>
  </table>
  <div class="shadow p-3 mb-5 bg-white rounded" *ngIf="tours == null || tours == undefined || tours.length <= 0">
    <p class="form-text text-muted text-center">no one tour exists</p>
  </div>
</div>