p.sight-item {
    background-color: rgb(182, 240, 220);
}

div.main { float: left }
div.field { clear: both; text-align: right; line-height: 50px; }
div.field label { float: left; padding-right: 5px; }