<h1 mat-dialog-title>{{ title }}</h1>
<hr />
<!-- <div mat-dialog-content></div> -->
  
<form [formGroup]="tourFg">
  <div class="main">
    <div class="field">
      <label for="picker">Date:</label>
      <mat-form-field>
        <input
          matInput [matDatepicker]="picker"
          placeholder="Choose a date"
          formControlName="date"
          [ngClass]="{ 'is-invalid': submitted && f_date.errors }">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngIf="submitted && f_date.errors" class="alert alert-danger">
        <div *ngIf="f_date.errors.required">Date is required</div>
    </div>

    <div class="field">
      <label for="excursion">Excursion:</label>
      <mat-form-field>
        <input type="text"
          placeholder="excursion name"
          matInput
          formControlName="excursionName"
          [matAutocomplete]="autoExcursion">
      </mat-form-field>
      <mat-autocomplete #autoExcursion="matAutocomplete">
        <mat-option *ngFor="let option of filteredExcursions | async" [value]="option">{{ option }}</mat-option>
      </mat-autocomplete>
    </div>
    <div *ngIf="submitted && f_excursion.errors" class="alert alert-danger">
        <div *ngIf="f_excursion.errors.required">Excursion name is required</div>
        <div *ngIf="f_excursion.errors.minlength">Excursion name is less than 2</div>
        <div *ngIf="f_excursion.errors.maxlength">Excursion name is more than 50</div>
    </div>

    <div class="field">
      <label for="client">Client:</label>
      <mat-form-field>
        <input type="text"
          placeholder="client name"
          matInput
          formControlName="clientName"
          [matAutocomplete]="autoClient">
      </mat-form-field>
      <mat-autocomplete #autoClient="matAutocomplete">
        <mat-option *ngFor="let option of filteredClients | async" [value]="option">{{ option }}</mat-option>
      </mat-autocomplete>
    </div>
    <div *ngIf="submitted && f_client.errors" class="alert alert-danger">
        <div *ngIf="f_client.errors.required">Client name is required</div>
        <div *ngIf="f_client.errors.minlength">Client name is less than 2</div>
        <div *ngIf="f_client.errors.maxlength">Client name is more than 50</div>
    </div>
    <!-- ================= Excursion Sights ================= -->

    <label>List sights:</label>
    <mat-list dragula="VAMPIRES">
      <mat-list-item *ngFor="let sight of f_excursionSightsList.value" >
        <p matLine class="sight-item list-group-item-primary">
          <span class="text-truncate">{{ sight.name }}</span>
          <button mat-button (click)="onRemoveSight(sight)">remove</button>
        </p>
      </mat-list-item>
    </mat-list>
    <div *ngIf="submitted && f_excursionSightsList.errors" class="alert alert-danger">
        <div *ngIf="f_excursionSightsList.errors.listLength">At least 1 sight should be added</div>
    </div>

    <form [formGroup]="sightFg">
      <label for="excursionSightName">Excursion sight:</label>
      <div>
        <mat-form-field>
          <input type="text"
            placeholder="excursion sight name"
            matInput
            formControlName="excursionSightName"
            [matAutocomplete]="autoExcursionSight">
        </mat-form-field>
        <mat-autocomplete #autoExcursionSight="matAutocomplete">
          <mat-option *ngFor="let option of filteredExcursionSights | async" [value]="option">{{ option }}</mat-option>
        </mat-autocomplete>
        <button type="button" class="push btn btn-info" (click)="onPushSight()">push</button>
      </div>
    </form>
    <!-- ================= end Excursion Sights ================= -->

    <div class="button-action">
      <button type="button" class="btn btn-success" (click)="save()" cdkFocusInitial>Save</button>
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>