<h1 mat-dialog-title>New tour</h1>
<hr />
<!-- <div mat-dialog-content></div> -->

<div class="box">
  <label>Date:</label>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="tour.date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <label>Excursion:</label>
  <app-autocamplete-with-filter (valueChange)="onChangeExcursion($event)" 
    [selectedValue]="tour.excursion"
    [options]="excursions">
  </app-autocamplete-with-filter>
  
  <label>Client:</label>
  <app-autocamplete-with-filter (valueChange)="onChangeClient($event)" 
    [selectedValue]="tour.client"
    [options]="clients">
  </app-autocamplete-with-filter>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="res" cdkFocusInitial (click)="save()">Save</button>
  </div>
</div>